<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtyqjnLoPqhfoMdZJvqGKiCLUOCTMGzr8</string>
	<key>GCM_SENDER_ID</key>
	<string>39573230434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.com.DreamInterpretation</string>
	<key>PROJECT_ID</key>
	<string>dream-interpretation-70f91</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-interpretation-70f91.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39573230434:ios:0baf5459d044f2a4b4d23b</string>
</dict>
</plist>